@page "/Admin"
@using CommonModels.Model
@using BlazorApp1.Data
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime
@inject AdminUserService AdminUserService
<h2> Admin Profile</h2>
@if(adminusers != null)
{
<p>Admin Information: <b>@adminusers.Name</b></p>
<div class="row">
       <table class="table">
               <tr>
                       <td>Name</td>
                       <td>@adminusers.Name </td>
                   </tr>
               <tr>
                       <td>Email</td>
                       <td>@adminusers.Email</td>
                   </tr>
               
           </table>
</div>
}


@code {
    [Parameter]
    public string Id{ get; set; }
    AdminUser adminusers = new AdminUser();
   
        
   
        }
