@page "/Admin"
@using CommonModels.Model
@using BlazorApp1.Data
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime
@inject AdminUserService AdminUserService
<h2> Admin Profile</h2>
@if(loginModel != null)
{
<p>Admin Information: <b>Gilbert</b>b></p>
<div class="row">
       <table class="table">
               <tr>
                       <td>Name</td>
                       <td>Gilbert </td>
                   </tr>
               <tr>
                       <td>Email</td>
                       <td>Gilbert@gngengineering.com</td>
                   </tr>
               
           </table>
</div>
}


@code {
    [Parameter]
    public string Id{ get; set; }
    LoginModel loginModel = new LoginModel();

        
   
        }
