@page "/AdminUserList"
@using BlazorApp1.Data
@using CommonModels.Model
@inject AdminUserService AdminUserService
@inject NavigationManager NavigationManager

<style>
    body {
        background-color: #F9F6EE;
    }
</style>

<h1 style="font-family: Arial, Helvetica, sans-serif; color:#4682B4;" >Admin User Management</h1>

<p>Add, edit, or delete an administrator.</p>
<div>
    <RadzenButton Text="Add New Admin" Click=@OnButtonClick  Icon="add_circle_outline" ButtonStyle="ButtonStyle.Secondary" />
    <br>
    <br>
    @if (adminusers != null)
    {
        <table style="color: #000000" class="table-bordered" BorderColor="Black">
            <thead>
                <tr style="height: 30px; background-color:#336699 ; color:#FFFFFF ;">
                    <th >User</th>
                    <th >Email</th>
                    
                    <th >Auhtorisation</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var v in adminusers)
                {
                    <tr>
                    <td>@v.Name</td>
                    <td>@v.Email</td>
                    
                    <td>@v.Authorize</td>
                    <td>
                        <button class="btn btn-primary">
                                <span class="oi oi-pencil"></span>
                                <a style="color: #FFFFFF" href="/EditAdminUser/@v.Id">Edit</a>
                        </button></td> <td>
                        <button  class="btn btn-danger">
                                <span class="oi oi-trash"></span>
                                <a style="color: #FFFFFF" href="/DeleteAdminUser/@v.Id">Delete</a>
                        </button>
                    </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
@code {
    
   private AdminUser[] adminusers;

    protected override async Task OnInitializedAsync()
    {
        adminusers = await AdminUserService.GetAdminUsersAsync();
        
    }
    void OnButtonClick()
    {
        NavigationManager.NavigateTo("AdminUserManagement");
    }
}