@page "/AdminUserList"
@using BlazorApp1.Data
@using CommonModels.Model
@inject AdminUserService AdminUserService


<h1>Admin User Management</h1>
<div>
    <a href="/AdminUserManagement"> Add New Admin User</a>
    @if (adminusers != null)
    {
        <table class="table-bordered">
            <thead>
                <tr>
                    <th width = "30%">Name</th>
                    <th width = "20%">Email</th>
                    <th width = "20%">Password</th>
                    <th width = "30%">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var v in adminusers)
                {
                    <tr>
                    <td>@v.Name</td>
                    <td>@v.Email</td>
                    <td>@v.Password</td>
                    <td>
                        <a href="/EditAdminUser/@v.Id">Edit</a> 
                        <a href="/DeleteAdminUser/@v.Id">Delete</a>
                    </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
@code {
    
   private AdminUser[] adminusers;

    protected override async Task OnInitializedAsync()
    {
        adminusers = await AdminUserService.GetAdminUsersAsync();
        
    }
    
}