@page "/DeviceManagement"

<h3>Device Management</h3>

<p>Add, edit, or delete a device.</p>
border-radius: 25pt; 
<div class="card">
    <div class="card-body">
        <h4>Add Device</h4>
        Device IMEI <input @bind="imei">
        <br><br />
        Select User 
        <select>
            <option>--Select a user--</option>
            <option>Mark Joe</option>
            <option>James Robertson</option>
            <option>Alice Williams</option>
            <option>Elizabeth Porter</option>
        </select>
        <br><br />
        Select group
        <select>
            <option>--Select a group--</option>
            <option>Strategy</option>
            <option>Marketing</option>
            <option>Finance</option>
            <option>Human Resources</option>
            <option>Operations</option>
            <option>Logistics</option>
        </select>
        <br><br />
        Authorised? 
         <select>
            <option>--Select authorisation--</option>
            <option>Yes</option>
            <option>No</option>
        </select>
        <br><br />
        <button class="btn btn-primary">
            <span class="oi oi-plus"></span>
            Add Device
        </button>
    </div>
</div>
<p>
    Show
    <select>
        <option>1</option>
        <option>5</option>
        <option>10</option>
        <option>15</option>
        <option>20</option>
        <option>25</option>
        <option>30</option>
        <option>35</option>
        <option>40</option>
        <option>45</option>
        <option>50</option>
        <option>55</option>
        <option>60</option>
        <option>65</option>
        <option>70</option>
        <option>75</option>
    </select>
    entries

    Search
    <input type="text" name=" " />
</p>

<table class="table">
    <thead>
         <tr>
            <th>#</th>
            <th>IMEI</th>
            <th>User name</th>
            <th>Group</th>
            <th>Registered On</th>
            <th>Last Update</th>
            <th>Last Location</th>
            <th>Authorised</th>
            <th>Actions</th>
         </tr>
    </thead>
    <tbody>
         <tr>
            <td>Idno1</td>
            <td>2901987979</td>
            <td>Mark</td>
            <td>Finance</td>
            <td>Date...</td>
            <td>Date...</td>
            <td>LocationLink</td>
            <td>Yes/no</td>
            <td>
                <button class="btn btn-primary">
                    <span class="oi oi-pencil"></span>
                </button>
                <button class="btn btn-danger">
                    <span class="oi oi-trash"></span>
                </button>
            </td>
         </tr>
    </tbody>
    </table>

@code {
    private int id;
    private string imei;
    private string name;
    private string group;
    private string regdate;
    private string lastupdate;
    private string authorisation;
}
