@page "/DocumentSubmission"
@using BlazorApp1.Data
@using CommonModels.Model
@using Microsoft.JSInterop
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime
@inject DocumentService DocumentService

<h1>Document Submission</h1>
<h2>View documents and approve or reject the document</h2>

<h3>Document Submissions List</h3>
<div>
    @if (document != null)
    {
        <table class="table-bordered">
            <thead>
                <tr>
                    <th width="30%">User</th>
                    <th width="20%">Group</th>
                    <th width="20%">Device</th>
                    <th width="20%">SentDateTime</th>
                    <th width="30%">FileFormat</th>
                    <th width="30%">Img</th>
                    <th width="20%">Description</th>
                    <th width="20%">Location</th>
                    <th width="20%">Status</th>
                    <th width="30%">DocType</th>
                    <th width="20%">Amount</th>
                    <th width="30%">Comment</th>

                </tr>
            </thead>

            
        </table>
    }
</div>


@code {//timestamp for image issue - 12:00...need to create @onclick for image 
    //proper setup to call img link timestamp - 18:16
     protected override async Task OnInitializedAsync()
    {
       await DocumentService.GetDocumentsAsync();
    }

    [Parameter]
    public string Id { get; set; }
    Document document = new Document();
    //private string apilink;
   
    //protected override async Task OnInitializedAsync()
    //{
        //document = await HttpClient.GetAsync<User>("api/user/" + Id);
    //}
    protected async Task Save()
    {
        await DocumentService.SaveAsync(document);
    }
    //void Cancel()
    //{
        //NavigationManager.NavigateTo("UserList");
    //}

}
