@page "/DocumentSubmission"

<h3>Document Submissions</h3>
<br />
<style>
    {
        border-radius: 25px;
        background: grey;
        background-position: left top;
        background-repeat: repeat;
        padding: 20px;
        width: 200px;
        height: 150px;
    }
</style>

<div class="card">
    <div class="card-body">
        From Date: <input @bind="date1" /><br /><br />
        To Date:  <input @bind="date2" /><br /><br />
        <br><br />

        <button class="btn btn-primary">
            <span class="oi oi-clock"></span>
            Refresh
        </button>
        <br />
        Group: <input @bind="group" />
    </div>
</div>


<p>
    Show
    <select>
        <option>10</option>
        <option>15</option>
        <option>20</option>
        <option>25</option>
        <option>30</option>
    </select>
    entries
</p>    

<br />
<br />

<table class="table">
    <thead>
        <tr>
            <th>Sent On</th>
            <th>Name</th>
            <th>Device IMEI</th>
            <th>Group</th>
            <th>File</th>
            <th>Raw Image</th>
            <th>Description</th>
            <th>Location</th>
            <th>Decision</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>2022-03-31 <br /> 04:22:54</td>
            <td>James</td>
            <td>D009CDF12F6171EC</td>
            <td>Finance</td>
            <td>NewScanInvoice.pdf</td>
            <td>NewScanInvoice79860.jpg</td>
            <td>View Location</td>
        </tr>
    </tbody>
</table>


<SfGrid DataSource="@Orders" AllowPaging="true">
 <GridPageSettings PageSize="5"></GridPageSettings>
   <GridColumns>
     <GridColumn Field=@nameof(Order.OrderID) HeaderText="Order ID" TextAlign="TextAlign.Right" Width="120"></GridColumn>
     <GridColumn Field=@nameof(Order.CustomerID) HeaderText="Customer Name" Width="150"></GridColumn>
     <GridColumn Field=@nameof(Order.OrderDate) HeaderText=" Order Date" Format="d" Type="ColumnType.Date" TextAlign="TextAlign.Right" Width="130"></GridColumn>
     <GridColumn Field=@nameof(Order.Freight) HeaderText="Freight" Format="C2" TextAlign="TextAlign.Right" Width="120"></GridColumn>
   </GridColumns>
</SfGrid>


@code {

    private string date1;
    private string date2;
    private string group;

}
