@page "/fetchdata"

@using BlazorApp1.Data
@using CommonModels.Model
@inject WeatherForecastService ForecastService

<h1>All Notifications</h1>

<p>Displaying notifications in the system</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Notification Id</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.NotificationTime.ToShortDateString()</td>
                    <td>@forecast.NoticationId</td>
                    <td>@forecast.Description</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Notification[] forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
    }
}
