@page "/GroupManagement"
@layout NoMenuLayout
@using BlazorApp1.Data
@using CommonModels.Model
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime
@inject GroupService GroupService

<EditForm Model="@group" OnValidSubmit="@HandleValidSubmit">

    <DataAnnotationsValidator />

    <ValidationSummary />
<h1>Group Management</h1>

<p>Add Group</p>
<p>Note: All fields marked with '*' are required.</p>
    
<div class="row">
        <div class="col-md-6">
                <div class="form-group">
                        <label for="Groups">  Group *</label>
                        <p>Please enter the group department.</p>
                        <input form="Group name" class="form-control" @bind="@group.Groups" />
                        
                    </div>
            </div>
        
        
</div>
<div class="row">
        <div class="col-md-4">
                <div class="form-group">
                        <button type="submit">Submit</button>
                        <input type="button" class="btn" @onclick="@Cancel" value="Cancel" />
                    </div>
            </div>
</div>
</EditForm>

@code {
    [Parameter]
    public string Id{ get; set; }
    Group group = new Group();
    
    private async void HandleValidSubmit() //handles user exception to ensure valid information is entered before saving

    {
        await GroupService.SaveAsync(group);
        NavigationManager.NavigateTo("GroupList");
        Console.WriteLine("OnValidSubmit");

    }

    void Cancel()
    {
         NavigationManager.NavigateTo("GroupList");
    }
}

