@page "/GroupManagement"
@using BlazorApp1.Data
@using CommonModels.Model
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime
@inject GroupService GroupService
<h1>Group Management</h1>
<h2>Add Group</h2>

<div class="row">
        <div class="col-md-6">
                <div class="form-group">
                        <label for="Groups">  Group *</label>
                        <input form="Groups" class="form-control" @bind="@group.Groups" />
                    </div>
            </div>
        
        
</div>
<div class="row">
        <div class="col-md-4">
                <div class="form-group">
                        <input type="button" class="btn btn-primary" @onclick="@Save" value="Save" />
                        <input type="button" class="btn" @onclick="@Cancel" value="Cancel" />
                    </div>
            </div>
</div>
@code {
    [Parameter]
    public string Id{ get; set; }
    Group group = new Group();
    protected override async Task OnInitializedAsync()
    {
        //user = await HttpClient.GetAsync<User>("api/user/" + Id);
    }
    protected async Task Save()
    {
        await GroupService.SaveAsync(group);
        NavigationManager.NavigateTo("GroupList");
    }
            void Cancel()
            {
                NavigationManager.NavigateTo("GroupList");
            }
}

