@page "/index"

<AuthorizeView>
    <Authorized>
        <h1>Hello, @context.User.Identity.Name</h1>
    </Authorized>
    <NotAuthorized>
        <h1>Log in to see page</h1>
    </NotAuthorized>
</AuthorizeView>

@code{
    [CascadingParameter]
    private Task<AuthenticationState> authenticationState { get; set; }
}