@page "/login"
@layout LoginLayout
@inherits NoMenuLayout
@using BlazorApp1.Authentication
@using CommonModels.Model
@using Microsoft.JSInterop
@using BlazorApp1.Data
@inject IJSRuntime JsRuntime
@inject NavigationManager NavigationManager
@inject IAuthService AuthService

<h1>Login</h1>

@if (ShowErrors)
{
    <div class="alert alert-danger" role="alert">
        <p>@Error</p>
    </div>
}

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Please enter your details</h5>
        <EditForm Model="loginModel" OnValidSubmit="@HandleLogin">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="form-group">
                <label for="email">Email address</label>
                <InputText Id="email" Class="form-control" @bind-Value="loginModel.email" />
                <ValidationMessage For="@(() => loginModel.email)" />
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <InputText Id="password" type="password" Class="form-control" @bind-Value="loginModel.password" />
                <ValidationMessage For="@(() => loginModel.password)" />
            </div>
           
            <a href="Admin">Login Admin</a>
        </EditForm>
    </div>
</div>

@code {

    private LoginModel loginModel = new LoginModel();
    private bool ShowErrors;
    private string Error = "";

    private async Task HandleLogin()
    {
        ShowErrors = false;

        var result = await AuthService.Login(loginModel);

        if (result.Successful)
        {
            NavigationManager.NavigateTo("/Dashboard");
        }
        else
        {
            Error = result.Error;
            ShowErrors = true;
        }
    }

}