@page "/Login"
@using CommonModels.Model
@using BlazorApp1.Data
@inject IJSRuntime JsRuntime
@inject AdminUserService AdminUserService

<h3>Login</h3>
<style></style>
<div style="min-height:400px;"> 

    <div class="loginBox">

        <div class="Box">

            <br />
            <h1>Login</h1>
            
            @if (adminuser != null)
            {
              
                 }
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Id{ get; set; }
    protected async Task Login()
    {
        await AdminUserService.Login(int.Parse(Id));
    }

}
