@page "/lowerAdmin4"
@using CommonModels.Model
@using BlazorApp1.Data
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime
@inject AdminUserService AdminUserService

<style>
    body {
        background-color: #F9F6EE;
    }
</style>

<h2> Admin Profile</h2>
@if(adminuser != null)
{
<p>Admin Information: Lower Admin</p>
<div class="row">
       <table class="table">
               <tr>
                       <td>Name</td>
                       <td>Susan Boyl </td>
                   </tr>
               <tr>
                       <td>Email</td>
                        <td>SusanBoyl@gmail.com</td>
                   </tr>
               
           </table>
</div>
}


@code {
    [Parameter]
    public string Id{ get; set; }
    AdminUser adminuser = new AdminUser();

        
   
        }
