@page "/lowerAdmin2"
@using CommonModels.Model
@using BlazorApp1.Data
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime
@inject AdminUserService AdminUserService

<h2> Admin Profile</h2>
@if(adminuser != null)
{
<p>Admin Information: Lower Admin</p>
<div class="row">
       <table class="table">
               <tr>
                       <td>Name</td>
                       <td>Tebogo </td>
                   </tr>
               <tr>
                       <td>Email</td>
                    <td>TebogoK67@gmail.com</td>
                   </tr>
               
           </table>
</div>
}


@code {
    [Parameter]
    public string Id{ get; set; }
    AdminUser adminuser = new AdminUser();

        
   
        }
