@page "/MailingList"
<h1>Mailing List</h1>
<br />
<p>Add An Email</p>
<form>
    <input type ="text" name = "Enter Email Address"/> <br />
    <select>
        <option>--Select a group--</option>
        <option>Strategy</option>
        <option>Marketing</option>
        <option>Finance</option>
        <option>Human Resources</option>
        <option>Operations</option>
        <option>Logistics</option>
    </select> <br />


    <input type ="button" value ="Add" /> <br /> 
    <br />
    <br />
    <br />
    <br />

    <p>Show
    <select>
        <option>1</option>
        <option>5</option>
        <option>10</option>
        <option>15</option>
        <option>20</option>
        <option>25</option>
        <option>30</option>
        <option>35</option>
        <option>40</option>
        <option>45</option>
        <option>50</option>
        <option>55</option>
        <option>60</option>
        <option>65</option>
        <option>70</option>
        <option>75</option>
    </select>
    entries
    
    Search
    <input type="text" name =" "/></p>


    

</form>
@code {

}
