@page "/verifyauth"
<h3>VerifyAuth</h3>

@if(isAuthenticated)
{
    <h4>@adminEmail is authenticated</h4>
    <ul>
        <li>Is Admin Higher Level : </li>
        <li>Is Admin Lower Level : </li>

    </ul>
}
else
{
    <h4>The admin is not authenticated</h4>
}
@code {

    [CascadingParameter]
    public Task<AuthenticationState> AuthState {get; set;}

    private bool isAuthenticated = false;
    private string adminEmail;
    private bool isAdminHigherLevel = false;
    private bool isAdminLowerLevel = false;
  

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthState;

        if(authState.User.Identity.IsAuthenticated)
        {
            isAuthenticated = true;

            adminEmail = authState.User.FindFirst(System.Security.Claims.ClaimTypes.Name).Value;

            isAdminHigherLevel = authState.User.IsInRole("Higher Level Admin");
            isAdminLowerLevel = authState.User.IsInRole("Lower Level Admin");
          
        }
    }
}
