
 <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        </Found>
        <NotFound>
           <CascadingAuthenticationState>
            <LayoutView Layout="@typeof(MainLayout)">
                <p>WELCOME TO PAYCO</p>
                <br/>
                <br />
               <a href="https://localhost:44310/LoginPage">LOGIN</a>
            </LayoutView>
            </CascadingAuthenticationState>
        </NotFound>
    </Router>

