@inherits LayoutComponentBase
@inject NavigationManager navManager;

@if (isAdminLoggedIn)
{
    <div class="sidebar">
        <NavMenu />
    </div>
}

   <div class="main">

    @if (isAdminLoggedIn)
    {
        <div class="top-row px-4 auth">
            <LoginDisplay />
        <a href="#" @onclick="Logout">Logout</a>

        </div>

    }
    
      <div class="content px-4">
        @Body
       </div>
    </div>


@code
{
    public bool isAdminLoggedIn = false;
    public void Logout() 
    {
        navManager.NavigateTo("/Administrator");
    }

}
