@using BlazorApp1.Data
@inherits LayoutComponentBase
@inject NavigationManager navManager;


    <div class="sidebar">
        <NavMenu />
    </div>


<div class="main">
   
    <div class="top-row px-4 auth">
            <AuthorizeView>
                <Authorized>
                    <a href="/" @onlick="(() => Logout())">Logout</a>
                </Authorized>
                <NotAuthorized>
                    <a href="/">Login</a>
                </NotAuthorized>
            </AuthorizeView>


            
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
    </div>
    <div class="content px-4">
        @Body
    </div>
    </div>

@code
{
    public bool isAdminLoggedIn = false;
}
