<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Payco</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Dashboard
            </NavLink>
        </li>

            <li class="nav-item px-3">
            <NavLink class="nav-link" href="login">
                <span class="oi oi-person" aria-hidden="true"></span> Login
            </NavLink>
        </li>

        
          <li class="nav-item px-3">
            <NavLink class="nav-link" href="Admin">
                <span class="oi oi-person" aria-hidden="true"></span> Admin
            </NavLink>
        </li>

          <li class="nav-item px-3">
            <NavLink class="nav-link" href="DocumentSubmission">
                <span class="oi oi-document" aria-hidden="true"></span> Document Submission
            </NavLink>
        </li>

          <li class="nav-item px-3">
            <NavLink class="nav-link" href="AdminUserList">
                <span class="oi oi-people" aria-hidden="true"></span> Admin Management
            </NavLink>
        </li>
          <li class="nav-item px-3">
            <NavLink class="nav-link" href="MailingListList">
                <span class="oi oi-envelope-closed" aria-hidden="true"></span> Mailing List
            </NavLink>
        </li>
          <li class="nav-item px-3">
            <NavLink class="nav-link" href="DeviceList">
                <span class="oi oi-phone" aria-hidden="true"></span> Device Management
            </NavLink>
        </li>
          
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="UserList">
                <span class="oi oi-person" aria-hidden="true"></span>User Management
                </NavLink>
        </li>
          <li class="nav-item px-3">
            <NavLink class="nav-link" href="GroupList">
                <span class="oi oi-people" aria-hidden="true"></span> Group Management
            </NavLink>
        </li>

            <li class="nav-item px-3">
            <NavLink class="nav-link" href="logout">
                <span class="oi oi-person" aria-hidden="true"></span> Logout
            </NavLink>
        </li>

    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
